/* 
    Created on : 10.3.2014, 18:19:27
    Author     : sukovanej
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);

img {border:0;}
p a {text-decoration:none; color:#1E8BC3; border:0;}
p a:hover {text-decoration:underline;}

body {margin:0; padding:0; background-color:#fff; font-size:15px; font-family: 'Open Sans', sans-serif; padding-top:35px;}
#head {background-color:#eee; font-size:0; border-bottom:3px solid #ddd; display:none; position:fixed; top:38px; border-right:2px solid #666;
	overflow:auto; max-height:100%; z-index:9999; padding-right:15px;}
#head ul li {display:list-item;}
#head ul li a {color:#1E8BC3; display:block; width:100%; border-bottom:1px solid #ddd; text-decoration:none; padding-top:15px; display:inline-block; position:relative; top:7px; font-size:13px;}
#head ul li a img {width:30px; float:left; margin:0px 10px; position:relative; bottom:6px;}
#head ul li ul li {padding-left:50px;}
#head ul li ul li a {}
#head ul li ul li:hover {background-color:#3299CD;}
#head ul li:last-child {border:0;}
    
#content {padding:15px; background-color:#fff; color:#333;}
    #content h1 {font-size:25px; color:#fff; padding:8px; border-left:10px solid #1E8BC3; background-color:#444; font-weight:normal; margin-bottom:10px;
		border-top-left-radius:5px; border-bottom-left-radius:5px;}
    #content h1 small {font-size:14px;}
    #content h1 small a {cursor:pointer; text-decoration:none; color:#149ADF;}
	#content h1 small a:hover {text-decoration:underline;}
    #content h2 {font-size:18px; font-weight:normal; margin-bottom:10px;}
    #content p {margin-bottom:10px; color:#333;}

table {padding:10px; background-color:#EEEDB5; border-top:3px solid #B6B45B; font-size:14px; color:#444; margin-bottom:10px; width:100%;}
table tr td {padding:3px 15px; margin:0; text-align:left; vertical-align:top;}
table tr:first-child td {padding-top:10px;}
table tr:last-child td {padding-bottom:10px;}
table tr td input {margin:0; padding:0;}
table tr th {text-align:left; font-weight:bold;}

#packages-panel {display:none;}

#error {width:100%; background-color:#9E3838;}
#done {width:100%; background-color:#208050;}
#warning {width:100%; background-color:#AC9F15;}
#error p:before {content: url("../images/no.png"); float:left; margin-right:7px; position:relative; bottom:1px}
#done p:before {content: url("../images/yes.png"); float:left; margin-right:10px; position:relative; bottom:3px;}
#error p, #done p, #warning p {padding:10px; color:#fff;}
#error p a, #done p a, #warning p a {text-decoration:none; color:#67DC81; border:0;}
#error p a:hover, #done p a:hover, #warning p a:hover {text-decoration:underline;}

textarea#editor {width:100%;}
#article_table {width:80%;}
input[name=title] {width:100%;}

table.table {font-family:sans-serif; width:auto; border-collapse:collapse;
       background-color:transparent; padding:0; border:0; margin-bottom:20px;}
table.table tr th {font-weight:bold; border-top:3px solid #1E8BC3; color:#333; padding:7px 10px; text-align:left; border-bottom:1px solid #ccc; 
	background-color:#eee;}
table.table tr th:first-child {border-left:10px solid #1E8BC3;}
table.table tr td {background-color:#fff; padding:5px 10px; padding-top:10px; color:#333; margin:0; vertical-align:center; border-bottom:1px solid #ddd;}
table.table tr:last-child td {border-bottom:0;}
table.table tr:hover td:first-child {border-left:10px solid #666;}
table.table tr {border-left:10px solid #999;}
table.table tr:hover td {background-color:#DFF5EA;}
table.table td a {color:#1E8BC3; text-decoration:none; cursor:pointer;}
table.table td a:hover {text-decoration:underline;}
table.table tr td#sub-header {background-color:#444; padding:10px; text-align:left; color:#fff; border-top:3px solid #222;}
table.table tr td#sub-header:first-child {border-left:10px solid #222;}

#dialog-bg {display:none; position:fixed; top:0px; left:0px; width:100%; height:100%; background:#a0a0a0;
             filter:alpha(opacity=70); opacity:0.7; z-index:9999;}
#dialog {max-width:500px; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:10000; 
         background-color:#fff; box-shadow:1px 1px 5px #888; padding:15px; display:none; border-top:6px solid #1E8BC3; border-radius:3px;}
#dialog p {margin-bottom:10px;}
#dialog h1 {font-size:20px; color:#1E6081; margin-bottom:10px;}
textarea#comment_textarea {width:400px; height:60px;}
#config_submit {padding:10px; margin:10px 2px;}

#button, input[type=submit], input[type=button], input[type=reset] {padding:10px; background:#fff; 
          border:1px solid #bbb; margin:5px 0px; border-radius:5px; color:#666; cursor:pointer; font-size:13px; text-decoration:none;}
#button img {width:20px; margin-bottom:-5px; padding-right:5px;}
#button:hover, input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover {color:#333; border:1px solid #aaa;}

footer {display:none;}

.user-role-img {width:20px; float:left; margin-right:10px;}
.error {color:red;}
.green, .done {color:#008211;}
.package-img {width:25px; lfoat:left; margin-right:5px; position:relative; top:3px;}

hr {background-color:#666; border:0; height:1px;}
textarea, input[type=text], input[type=password] {border:1px solid #aaa; border-radius:2px; resize:none; padding:3px; font-family:'Open Sans', sans-serif; 
	font-size:12px;}
.user-image-table {width:70px; border:1px solid #666; border-radius:3px;}
.bundle-icon {width:30px; float:left; position:relative; bottom:5px; margin-right:6px;}

#info {display:block; overflow:auto; background-color:#333; color:#fff; border-top:5px solid #222;}
#info content {padding:10px; display:block;}
#info content p {padding:0; margin:0; margin-bottom:5px;}
#info content a {color:#5992D5;}

input.arrows-img {float:left; padding:1px; margin:0; margin-right:5px;}
input.arrows-img:hover {background-color:#ddd;}
.sub-arrows {margin-left:15px;}
table tr.menu-table-sub td {background-color:#DCECE4;}
table tr td.menu-table-sub-td img {padding-left:20px;}

em, i {font-style:italic;}

#mobile-menu {width:100%; background-color:#1E8BC3; padding:10px 20px; position:fixed; top:0; border-bottom:3px solid #165474; z-index:10000;}
#mobile-menu a {text-align:center; padding:10px 0px; font-size:15px; color:#fff; text-decoration:none;}

.mobile-hide {display:none;}
